<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/index/login.css" />
  </head>
  <body>
    <form action="/login" method="post" class="form">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <h2>Login</h2>
      <div class="input">
        <label for="#">Username</label>
        <input type="text" />
      </div>
      <div class="input">
        <label for="#">Password</label>
        <input type="password" />
      </div>
      <button type="submit">Login</button>

      <p class="forgot">
        If you don't have an account yet, <a href="/signup">Sign Up</a>
      </p>
    </form>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/index/login.css">
</head>
<body>
    <main>
        <h2>Login</h2>
        <form action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>If you don't have an account yet, <a href="/signup">Sign Up</a></p>
    </main>
</body>
</html>
