<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/index/signup.css">
</head>
<body>
    <form action="/signup" method="POST" class="form">
        <h2>Sign Up</h2>
        <div class="input">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" placeholder="Username" required>
        </div>
        <div class="input">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
        </div>
        <div class="input">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" required>
        </div>
        <button type="submit">Sign Up</button>
        <p class="forgot">
            Already have an account? <a href="/login">Login</a>
        </p>
    </form>
</body>
</html>
