* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-family: "Space Grotesk", sans-serif;
}

body {
  color: white;
  background-color: rgb(28, 23, 22);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 600px;
  min-width: 350px;
  padding: 20px;
}

h2 {
  font-size: 2rem;
  color: #24fcd5;
  text-align: center;
  margin-bottom: 20px;
}

h2 span {
  color: #fe7a1b;
}

.main__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.main__input,
.main__select {
  padding: 10px;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.main__button {
  padding: 10px;
  font-size: 1.2rem;
  color: #fff;
  background-color: rgb(59, 59, 243);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main__button:hover {
  background-color: #0056b3;
}

.btn {
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 1rem;
  color: aqua;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0.3px rgba(102, 102, 102, 1);
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
  transition: all 0.03s ease-in;
}

.btn i {
  font-size: 1.2rem;
  color: #73ff33;
  vertical-align: middle;
}

.btn:hover {
  background-color: rgb(37, 37, 37);
}

.btn:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 2px 0.3px rgba(102, 102, 102, 1);
}

@media (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }

  .main__input,
  .main__select,
  .main__button,
  .btn {
    font-size: 1rem;
    padding: 8px;
  }
}
