/* Base styles */
body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #24fcd5;
}

h2 span {
    color: #fe7a1b;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"], select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

a.btn {
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

a.btn i {
    vertical-align: middle;
    margin-right: 5px;
}

a.btn:hover {
    background-color: #5a6268;
}

/* Responsive styles */
@media (max-width: 600px) {
    h2 {
        font-size: 20px;
    }

    form {
        gap: 8px;
    }

    input[type="text"], select, button[type="submit"], a.btn {
        font-size: 14px;
        padding: 8px;
    }
}
